FROM {{{BaseImage}}}
WORKDIR /blaxel
COPY package.json /blaxel/package.json
{{#LockFile}}
COPY {{{LockFile}}} /blaxel/{{{LockFile}}}
{{/LockFile}}
RUN {{{InstallCommand}}}
COPY . .
{{#BuildCommand}}
RUN {{{BuildCommand}}}
{{/BuildCommand}}
ENTRYPOINT ["{{{Entrypoint}}}"]`