name: Integration Tests

on:
  pull_request:
    branches:
      - main
    paths:
      - "cli/**"
      - "sdk/**"
      - "test/integration/**"
      - "main.go"

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.x"
          check-latest: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq

      - name: Run integration tests
        env:
          BL_API_KEY: ${{ secrets.BL_API_KEY }}
          BL_WORKSPACE: ${{ secrets.BL_WORKSPACE }}
        run: |
          chmod +x test/integration/get.sh
          bash test/integration/get.sh