name: Unit Tests

on:
  pull_request:
    branches:
      - main
    paths:
      - "cli/**"
      - "main.go"
      - "go.mod"
      - "go.sum"

jobs:
  unit-tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      pull-requests: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.x"
          check-latest: true
          cache: true

      - name: Run unit tests
        run: go test -count=1 -v ./...
